* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(180deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
    color: #ffffff;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-family: "Orbitron", sans-serif;
}

.logo {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.273);
    border-color: #ffffff;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.logo:hover {
    box-shadow: 0 0 40px 25px rgba(52, 232, 158, 0.7);
}

.main-box {
    height: 180px;
    width: 1000px;
    background-color: #88888851;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff51;
    border-radius: 20px;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.273);
}

.main-box .heading, .description, .tier  {
    padding-left: 10px;
}

.main-box * {
    font-weight: bolder;
}

.main-box h1 {
    color: #ffffff;
    padding-top: 10px;
    font-size: 28px;
}

.heading, .master-points-section {
    display: inline-block;
}

.master-points-section {
    height: 30px;
    line-height: 20px;
    width: 210px;
    background-color: #34E89E;
    text-align: right;
    padding: 0px;
    padding-right: 5px;
    font-size: 14px;
    border-radius: 15px;
    margin-left: 20px;
    margin-left: 300px;
}

.main-box p {
    color: #c4c4c4;
    font-size: 14px;
    padding-top: 5px;
}

.section-name {
    font-size: 20px;
}

#menu {
    padding: 0px;
    height: 30px;
    width: 150px;
    border-style: solid;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    background-color: #1a1a2e;
    color: #ffffff;
    /* #16213e, #0f3460 */
}

#menu select {
    background-color: #88888825;
    color: #000000;
}

#menu * {
    background-color: rgba(136, 136, 136, 0.147);
    color: #000000;
}

.section-name, .menu {
    display: inline-block;
}

.tier {
    display: inline;
}

.result-bar input {
    width: 700px;
}

.button-start {
    height: 30px;
    width: 150px;
    border-style: solid;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1.5px;
    text-align: center;
    background-color: #34E89E;
    cursor: pointer;
}

.total-points {
    height: 30px;
    width: 150px;
    display: inline-block;
    font-size: 14px;
    background-color: #00000051;
    border-radius: 25px;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 6px;
}

.caliber {
    height: 30px;
    width: 150px;
    display: inline-block;
    font-size: 14px;
    background-color: #00000051;
    border-radius: 25px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 6px;
    margin-left: 20px;
}

.progress-section {
    margin-top: 10px;
}

.progress {
    height: 10px;
    width: 650px;
    background-color: #000000a2;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.progress-result {
    margin-left: 20px;
}

.progress, .progress-result {
    display: inline-block;
}